# Diagram Portfolio file. Used by the diagram editor up to Delphi 7.
*.ddp
# C++ object files produced when C/C++ Output file generation is configured.
*.obj
# Delphi compiler-generated binaries (safe to delete)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
# Delphi history and backups
__history/
__recovery/
*.~*
Debug/
Release/
*.esp
*.lnk
Icon_15.ico
Icon_15g.ico
OLDCODE.txt
Morr_Parser_Icon.ico
